* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: column; /* Veranderd naar een kolomlay-out */
    justify-content: flex-start; /* Zorgt ervoor dat de inhoud bovenaan staat */
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.option {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: flex 0.5s;
}

.left {
    background-image: url('../media/schulden.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.right {
    background-image: url('../media/duo.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.option:hover {
    flex: 1.5;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.5s;
}

.option:hover .overlay {
    background: rgba(0, 0, 0, 0.3);
}


.infoknop {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%); 
    padding: 10px 20px;
    background-color: #007BFF; 
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.infoknop:hover {
    background-color: #0056b3; 
}
